<section id="" class="clearfix category-page main-categories">
  <div class="container">
    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb new-breadcrumb">
        <li class="t-orange">
          <a routerLink="/">{{'#Home' | translate}}</a>
        </li>
        <li class="t-orange">
          <a routerLink="/begineer-tutorial">{{'#ForBeginnersOfSharemeshi' | translate}}</a>
        </li>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title d-inline-block t-orange">{{'#ForBeginnersOfSharemeshi' | translate}}</h2>
    </div>
    <div class="col-lg-12 col-xs-12 p-0 text-center">
      <ul class="nav nav-pills d-inline-block beginner-nav-pill">
        <li class="active">
          <a data-toggle="pill" href="#beginner_creator_box">{{'#ForCreator' | translate}}</a>
        </li>
        <li>
          <a data-toggle="pill" href="#beginner_eater_box">{{'#ForEater' | translate}}</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="beginner_creator_box" class="tab-pane fade in active text-left">
          <!-- for food creator -->
          <div class="col-lg-12 col-xs-12 p-0">
            <p class="title d-inline-block t-black beginners-food-creator-title">{{'#ForFoodCreator' | translate}}</p>
            <div class="col-lg-12 col-xs-12 mb-0 section cart-section support-main-box">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0">
                <p class="t-orange beginner-step-title">{{'#Step' | translate}} 1</p>
                <p class="t-orange beginner-step-sub-text">{{'#FC1_title' | translate}}</p>
                <p class="t-black beginner-step-description">{{'#FC1_content1' | translate}}
                  <br> {{'#FC1_content2' | translate}}</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0">
                <img src="assets/img/creator-step1.png" class="img-responsive beginner-right-img">
              </div>
            </div>
            <div class="col-lg-12 col-xs-12 text-center beginner-step-arrow-box">
              <i class="fa fa-angle-down beginner-arrow-down" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 col-xs-12 mb-0 section cart-section support-main-box">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0">
                <p class="t-orange beginner-step-title">{{'#Step' | translate}} 2</p>
                <p class="t-orange beginner-step-sub-text">{{'#FC2_title' | translate}}</p>
                <p class="t-black beginner-step-description">{{'#FC2_content1' | translate}}
                  <br> {{'#FC2_content2' | translate}}</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0">
                <img src="assets/img/creator-step2.png" class="img-responsive beginner-right-img">
              </div>
            </div>
            <div class="col-lg-12 col-xs-12 text-center beginner-step-arrow-box">
              <i class="fa fa-angle-down beginner-arrow-down" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 col-xs-12 mb-0 section cart-section support-main-box">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0">
                <p class="t-orange beginner-step-title">{{'#Step' | translate}} 3</p>
                <p class="t-orange beginner-step-sub-text">{{'#FC3_title' | translate}}</p>
                <p class="t-black beginner-step-description">{{'#FC3_content1' | translate}}</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0">
                <img src="assets/img/creator-step3.png" class="img-responsive beginner-right-img">
              </div>
            </div>
            <div class="col-lg-12 col-xs-12 text-center beginner-step-arrow-box">
              <i class="fa fa-angle-down beginner-arrow-down" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 col-xs-12 mb-0 section cart-section support-main-box">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0">
                <p class="t-orange beginner-step-title">{{'#Step' | translate}} 4</p>
                <p class="t-orange beginner-step-sub-text">{{'#FC4_title' | translate}}</p>
                <p class="t-black beginner-step-description">{{'#FC4_content1' | translate}}</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0">
                <img src="assets/img/creator-step4.png" class="img-responsive beginner-right-img">
              </div>
            </div>
          </div>
        </div>
        <div id="beginner_eater_box" class="tab-pane fade text-left">
          <!-- for food eater -->
          <div class="col-lg-12 col-xs-12 p-0">
            <p class="title d-inline-block t-black beginners-food-creator-title">{{'#ForFoodEater' | translate}}</p>
            <div class="col-lg-12 col-xs-12 mb-0 section cart-section support-main-box">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0">
                <p class="t-orange beginner-step-title">{{'#Step' | translate}} 1</p>
                <p class="t-orange beginner-step-sub-text">{{'#FE1_title' | translate}}</p>
                <p class="t-black beginner-step-description">{{'#FE1_content1' | translate}}</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0">
                <img src="assets/img/eater-step1.png" class="img-responsive beginner-right-img">
              </div>
            </div>
            <div class="col-lg-12 col-xs-12 text-center beginner-step-arrow-box">
              <i class="fa fa-angle-down beginner-arrow-down" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 col-xs-12 mb-0 section cart-section support-main-box">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0">
                <p class="t-orange beginner-step-title">{{'#Step' | translate}} 2</p>
                <p class="t-orange beginner-step-sub-text">{{'#FE2_title' | translate}}</p>
                <p class="t-black beginner-step-description">{{'#FE2_content1' | translate}}
                  <br> {{'#FE2_content2' | translate}}
                  <br> {{'#FE2_content3' | translate}}</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0">
                <img src="assets/img/eater-step2.png" class="img-responsive beginner-right-img">
              </div>
            </div>
            <div class="col-lg-12 col-xs-12 text-center beginner-step-arrow-box">
              <i class="fa fa-angle-down beginner-arrow-down" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 col-xs-12 mb-0 section cart-section support-main-box">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0">
                <p class="t-orange beginner-step-title">{{'#Step' | translate}} 3</p>
                <p class="t-orange beginner-step-sub-text">{{'#FE3_title' | translate}}</p>
                <p class="t-black beginner-step-description">{{'#FE3_content1' | translate}}
                  <br> {{'#FE3_content2' | translate}}</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0">
                <img src="assets/img/eater-step3.png" class="img-responsive beginner-right-img">
              </div>
            </div>
            <div class="col-lg-12 col-xs-12 text-center beginner-step-arrow-box">
              <i class="fa fa-angle-down beginner-arrow-down" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 col-xs-12 mb-0 section cart-section support-main-box">
              <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-0">
                <p class="t-orange beginner-step-title">{{'#Step' | translate}} 4</p>
                <p class="t-orange beginner-step-sub-text">{{'#FE4_title' | translate}}</p>
                <p class="t-black beginner-step-description">{{'#FE4_content1' | translate}}</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0">
                <img src="assets/img/eater-step4.png" class="img-responsive beginner-right-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-xs-12 text-center" style="margin-top: 30px;">
      <a *ngIf="checkLogined()" class="btn back-orange beginner-guide-btn" routerLink="/register">{{"#Register" | translate}}</a>
    </div>
  </div>
</section>