<section id="" class="clearfix category-page">
  <div class="col-lg-12 col-xs-12 p-0">
    <div class="container">
      <div class="breadcrumb-section">
        <!-- breadcrumb -->
        <ol class="breadcrumb new-breadcrumb">
          <li class="t-orange">
            <a href="https://sharemeshi.com">{{'#Home' | translate}}</a>
          </li>
          <li class="t-orange">
            <a href="https://sharemeshi.com/about-us">{{'#AboutUs' | translate}}</a>
          </li>
        </ol>
        <!-- breadcrumb -->
        <h2 class="title d-inline-block t-orange">{{'#AboutUs' | translate}}</h2>
      </div>
      <div class="section about boxes-card">
        <div class="about-info">
          <div class="row">
            <!-- about-text -->
            <div class="col-md-12 col-xs-12 text-center">
              <div class="col-md-8 float-none d-inline-block">
                <div class="about-text">
                  <h3 class="t-black about-text-title">{{'#AboutSharemeshi' | translate}}</h3>
                  <!-- description-paragraph -->
                  <div class="description-paragraph">
                    <p class="about-us-text">{{'#about_content1' | translate}}</p>
                  </div>
                  <!-- description-paragraph -->

                  <!-- description-paragraph -->
                  <div class="description-paragraph">
                    <p class="about-us-text">{{'#about_content2' | translate}}</p>
                  </div>
                  <!-- description-paragraph -->
                  <!-- description-paragraph -->
                  <div class="description-paragraph">
                    <p class="about-us-text">{{'#about_content3' | translate}}</p>
                  </div>
                  <!-- description-paragraph -->
                  <!-- description-paragraph -->
                  <div class="description-paragraph">
                    <p class="about-us-text mb-0">{{'#about_content4' | translate}}</p>
                  </div>
                  <!-- description-paragraph -->
                  <div class="description-paragraph">
                    <p class="about-us-text mb-0">{{'#about_content5' | translate}}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- about-text -->
          </div>
        </div>
        <!-- about-info -->
      </div>
    </div>
  </div>
</section>