<section id="" class="clearfix category-page main-categories">
  <div class="container">
    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb new-breadcrumb">
        <li class="t-orange">
          <a routerLink="/">{{'#Home' | translate}}</a>
        </li>
        <li class="t-orange">
          <a routerLink="/message">{{'#ChatRoomMsg' | translate}}</a>
        </li>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title d-inline-block t-orange">{{'#ChatRoomMsg' | translate}}</h2>
    </div>
    <div class="col-lg-12 col-xs-12">
      
      <div class="row">
        <div class="col-md-12 msgheader">
          <span class="backicon" (click)="returnToOrder()">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </span>
          <span class="backicon_title" (click)="returnToOrder()">
            {{'#OrderNumber' | translate}} {{order_number}}
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn refreshicon" (click)="doRefresh()">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            {{'#Refresh' | translate}}
          </button>
        </div>
      </div>
      <div class="row msgcontents" (scroll)="onScroll($event)" [ngStyle] = "getAdditionStyle()">
        <div *ngIf="chat_history.length == 0">
          <h3>No Chat History</h3>
        </div>
        <div *ngFor="let chitem of chat_history;" class="col-md-12 msgitem">
            <div class="row">
              <div class="col-md-12 text-right">
                <span class="m_date">{{chitem.date_time}}</span>
              </div>
              <div class="col-md-1">
                <img *ngIf="chitem.profile_image != ''" src="{{serverUrl + '/' + chitem.profile_image}}" class="img-circle userHead" />
                <img *ngIf="chitem.profile_image == ''" src="assets/uploads/profile/picture/user_picture1521871242.jpg" class="img-circle userHead" />
              </div>
              <div class="col-md-11 usermsg">
                  <h4 class="m_username">{{chitem.nick_name}}</h4>
                  <div style="color: black; white-space: pre-line;">
                     {{chitem.message}}
                  </div>
              </div>
            </div>
        </div>

      </div>
      <form name="form" (ngSubmit)="sendMsg.form.valid && this.doSending()" #sendMsg="ngForm" validate>
        <div class="row msginput">
            <div class="col-md-12 form-group" [ngClass]="{ 'has-error': sendMsg.submitted && !message.valid }" style="padding: 10px 0px; margin-bottom: 0px;">
              <textarea class="form-control msgtexts" name="message" [(ngModel)]="chatmodel.message" #message="ngModel" required rows="4" cols="50" placeholder="{{'#TypeMsgoverhere' | translate}}">
              </textarea>
              <!--div style="margin-left: 10px;" *ngIf="sendMsg.submitted && !message.valid" class="help-block">{{'#TMHRequired' | translate}}</div-->
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12 text-center form-group">
              <button type="submit" class="sendMsgBtn">{{'#Submit' | translate}}</button>
            </div>
        </div>
      </form>

    </div>
  </div>
</section>