<!-- footer -->
<footer id="footer" class="clearfix">
  <!-- footer-top -->
  <section class="footer-top clearfix">
    <div class="container">
      <div class="row">
        <!-- footer-widget -->
        <div class="col-sm-3">
          <div class="footer-widget">
            <h3>{{'#QuickLinks' | translate}}</h3>
            <ul>
              <li>
                <a routerLink="/about-us">{{'#AboutUs' | translate}}</a>
              </li>
              <li>
                <a routerLink="/begineer-tutorial">{{'#BeginnerTutorial' | translate}}</a>
              </li>
              <li>
                <a routerLink="/faq">{{'#Faq' | translate}}</a>
              </li>
              <li>
                <a routerLink="/contact-us">{{'#ContactUs' | translate}}</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- footer-widget -->

        <!-- footer-widget -->
        <!--div class="col-sm-3">
          <div class="footer-widget">
            <h3>{{'#Foods' | translate}}</h3>
            <ul>
              <li>
                <a href="#">{{'#DeliciousFoods' | translate}}</a>
              </li>
              <li>
                <a href="#">{{'#Snacks' | translate}}</a>
              </li>
              <li>
                <a href="#">{{'#Lunch' | translate}}</a>
              </li>
              <li>
                <a href="#">{{'#Dinner' | translate}}</a>
              </li>
              <li>
                <a href="#">{{'#Breakfast' | translate}}</a>
              </li>
              <li>
                <a href="#">{{'#Desert' | translate}}</a>
              </li>
            </ul>
          </div>
        </div-->
        <!-- footer-widget -->

        <!-- footer-widget -->
        <div class="col-sm-3">
          <div class="footer-widget social-widget">
            <h3>{{'#FollowUs' | translate}}</h3>
            <ul>
              <li>
                <a href="https://ja-jp.facebook.com/sharemeshi/">
                  <i class="fa fa-facebook-official"></i>{{'#Facebook' | translate}}</a>
              </li>
              <!--li>
                <a href="#">
                  <i class="fa fa-twitter-square"></i>{{'#Twitter' | translate}}</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-google-plus-square"></i>{{'#Google+' | translate}}</a>
              </li-->
              <li>
                <a href="https://www.youtube.com/channel/UCtuXZT-wwiCYVv_ZpMZI1gA">
                  <i class="fa fa-youtube-play"></i>{{'#Youtube' | translate}}</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- footer-widget -->

        <!-- footer-widget -->
        <!--div class="col-sm-3">
          <div class="footer-widget news-letter">
            <h3>{{'#Newsletter' | translate}}</h3>
            <p>{{'#TradeisWorld' | translate}}</p>
            <form action="#">
              <input type="email" class="form-control" placeholder="Your email id">
              <button type="submit" class="btn btn-primary">{{'#SignUp' | translate}}</button>
            </form>
          </div>
        </div-->
        <!-- footer-widget -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </section>
  <!-- footer-top -->


  <div class="footer-bottom clearfix text-center">
    <div class="container">
      <p>{{'#Copyright' | translate}} &copy; 2018. {{'#planding' | translate}}
      </p>
    </div>
  </div>
  <!-- footer-bottom -->
</footer>
<!-- footer -->