<section id="" class="clearfix user-page">
  <div class="container">
    <div class="row text-center">
      <!-- user-forgot -->
      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="user-account">
          <h2>{{'#ForgotPassword' | translate}}</h2>
          <!-- form -->

          <form name="form" (ngSubmit)="forgot.form.valid && this.doForgot()" #forgot="ngForm" validate>

            <div class="form-group" [ngClass]="{ 'has-error': forgot.submitted && !email.valid }">
              <label>{{'#TypeRegisteredEmail' | translate}} * </label>
              <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required autofocus>
              <div *ngIf="forgot.submitted && !email.valid" class="help-block">{{'#EmailRequired' | translate}}</div>
            </div>

            <!-- forgot-password -->
            <button type="submit" class="btn">{{'#Submit' | translate}}</button>
          </form>
        </div>
        <!-- <a href="#" class="btn-primary">Create a New Account</a> -->
      </div>
      <!-- user-forgot -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- signin-page -->