<section id="" class="clearfix page">
  <div class="container">
    <div class="faq-page">
      <div class="breadcrumb-section">
        <!-- breadcrumb -->
        <ol class="breadcrumb new-breadcrumb">
          <li class="t-orange">
            <a href="#">{{'#Home' | translate}}</a>
          </li>
          <li class="t-orange">
            <a href="#">{{'#Faq' | translate}}</a>
          </li>
        </ol>
        <!-- breadcrumb -->
        <h2 class="title t-orange">{{'#Faq' | translate}}</h2>
      </div>

      <h3 class="t-black">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">{{'#AboutMeshiCreator' | translate}}</font>
        </font>
      </h3>

      <div class="accordion">
        <div class="panel-group" id="accordion">

          <h4>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">1. {{'#MCbasic' | translate}}</font>
            </font>
          </h4>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc1-1" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCbasic1_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc1-1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#MCbasic1_content1" | translate}} </p> 
                <p> {{"#MCbasic1_content2" | translate}} </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc1-2" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCbasic2_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc1-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#MCbasic2_content1" | translate}} </p> 
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc1-3" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCbasic3_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc1-3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#MCbasic3_content1" | translate}} </p> 
                <p> {{"#MCbasic3_content2" | translate}} </p>
                <p> {{"#MCbasic3_content3" | translate}} </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc1-4" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCbasic4_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc1-4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> 
                  <font>{{"#MCbasic4_content1" | translate}}</font> <br/>
                  <font [innerHTML]="'#MCbasic4_content2' | translate"></font>
                </p> 
                <p> 
                  <font>{{"#MCbasic4_content3" | translate}}</font><br/>
                  <font>{{"#MCbasic4_content4" | translate}}</font>
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc1-5" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCbasic5_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc1-5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> 
                  {{"#MCbasic5_content1" | translate}}
                </p> 
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc1-6" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCbasic6_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc1-6" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> 
                  {{"#MCbasic6_content1" | translate}}
                </p> 
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc1-7" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCbasic7_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc1-7" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p [innerHTML]="'#MCbasic7_content1' | translate">
                </p> 
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc1-8" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCbasic8_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc1-8" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#MCbasic8_content1" | translate}} </p> 
                <p> {{"#MCbasic8_content2" | translate}} </p>
              </div>
            </div>
          </div>

          <h4>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">2. {{'#MCReg' | translate}}</font>
            </font>
          </h4>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc2-1" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCReg1_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc2-1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#MCReg1_content1" | translate}} </p> 
                <p> {{"#MCReg1_content2" | translate}} </p>
                <p> {{"#MCReg1_content3" | translate}} </p>
                <p> {{"#MCReg1_content4" | translate}} </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc2-2" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCReg2_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc2-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#MCReg2_content1" | translate}} </p> 
              </div>
            </div>
          </div>

          <h4>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">3. {{'#MCad' | translate}}</font>
            </font>
          </h4>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc3-1" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCad1_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc3-1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#MCad1_content1" | translate}} </p> 
                <p [innerHTML]="'#MCad1_content2' | translate"></p>
                <p> <b>{{"#MCad1_content3" | translate}}</b> </p> 
                <p> {{"#MCad1_content4" | translate}} </p>
                <p> <b>{{"#MCad1_content5" | translate}}</b> </p>
                <p> {{"#MCad1_content6" | translate}} </p>
                <p> {{"#MCad1_content7" | translate}} </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#accordion" href="#mc3-2" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MCad2_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="mc3-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#MCad2_content1" | translate}} </p> 
                <p [innerHTML]="'#MCad2_content2' | translate"></p>
                <p> {{"#MCad2_content3" | translate}} </p>
                <p> <b>{{"#MCad2_content4" | translate}}</b> </p> 
                <p> {{"#MCad2_content5" | translate}} </p>
                <p> <b>{{"#MCad2_content6" | translate}}</b> </p>
                <p> {{"#MCad2_content7" | translate}} </p>
                <p> {{"#MCad2_content8" | translate}} </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <h3 class="t-black">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">{{'#AboutMessiator' | translate}}</font>
        </font>
      </h3>

      <div class="accordion">
        <div class="panel-group" id="eateraccordion">

          <h4>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">1. {{'#Mbasic' | translate}}</font>
            </font>
          </h4>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m1-1" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mbasic1_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m1-1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mbasic1_content1" | translate}} </p> 
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m1-2" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mbasic2_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m1-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mbasic2_content1" | translate}} </p> 
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m1-3" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mbasic3_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m1-3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mbasic3_content1" | translate}} </p> 
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m1-4" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mbasic4_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m1-4" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mbasic4_content1" | translate}} </p> 
                <p> {{"#Mbasic4_content2" | translate}} </p>
                <p> {{"#Mbasic4_content3" | translate}} </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m1-5" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mbasic5_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m1-5" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mbasic5_content1" | translate}} </p> 
                <p [innerHTML]="'#Mbasic5_content2' | translate"></p>
                <p> {{"#Mbasic5_content3" | translate}} </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m1-6" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mbasic6_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m1-6" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mbasic6_content1" | translate}} </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m1-7" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mbasic7_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m1-7" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p [innerHTML]="'#Mbasic7_content1' | translate"></p>
              </div>
            </div>
          </div>

          <h4>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">2. {{'#Mprice' | translate}}</font>
            </font>
          </h4>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m2-1" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mprice1_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m2-1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mprice1_content1" | translate}} </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m2-2" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mprice2_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m2-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mprice2_content1" | translate}} </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m2-3" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mprice3_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m2-3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mprice3_content1" | translate}} </p>
              </div>
            </div>
          </div>

          <h4>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">3. {{'#MReg' | translate}}</font>
            </font>
          </h4>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m3-1" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#MReg1_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m3-1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#MReg1_content1" | translate}} </p>
              </div>
            </div>
          </div>

          <h4>
            <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">3. {{'#Mad' | translate}}</font>
            </font>
          </h4>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m4-1" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mad1_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m4-1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mad1_content1" | translate}} </p> 
                <p [innerHTML]="'#Mad1_content2' | translate"></p>
                <p> <b>{{"#Mad1_content3" | translate}}</b> </p> 
                <p> {{"#Mad1_content4" | translate}} </p>
                <p> <b>{{"#Mad1_content5" | translate}}</b> </p>
                <p> {{"#Mad1_content6" | translate}} </p>
                <p> {{"#Mad1_content7" | translate}} </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default panel-faq">
            <div class="panel-heading">
              <a data-toggle="collapse" data-parent="#eateraccordion" href="#m4-2" aria-expanded="false" class="collapsed">
                <h4 class="panel-title"> {{"#Mad2_title" | translate}} <span class="pull-right"> <i class="fa fa-plus"></i> </span> </h4>
              </a>
            </div>
            <div id="m4-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body"> 
                <p> {{"#Mad2_content1" | translate}} </p> 
                <p [innerHTML]="'#Mad2_content2' | translate"></p>
                <p> {{"#Mad2_content3" | translate}} </p>
                <p> <b>{{"#Mad2_content4" | translate}}</b> </p> 
                <p> {{"#Mad2_content5" | translate}} </p>
                <p> <b>{{"#Mad2_content6" | translate}}</b> </p>
                <p> {{"#Mad2_content7" | translate}} </p>
                <p> {{"#Mad2_content8" | translate}} </p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!-- faq-page -->
  </div>
  <!-- container -->
  <section id="something-sell" class="clearfix parallax-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 class="title">{{"#Didn'tFindAnswer" | translate}}</h2>
          <h4>{{"#SendUsNote" | translate}}</h4>
          <a routerLink="/contact-us" class="btn btn-primary">{{"#ContactUs" | translate}}</a>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- contaioner -->
  </section>
  <!-- something-sell -->
</section>